.shop {
  &__widgets {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    :nth-child(n) {
      text-decoration: none;
      transition: all 0.7s ease;
      background-size: 100%;
      &:hover {
        opacity: 1;
        background-size: 110%;
      }
    }
  }

  &__btn-block {
    background-color: #282f35;
    padding: 75px 0;
    text-align: center;

    .btn-block__btn {
      display: inline-block;
      font-family: 'Lato';
      height: 50px;
      padding: 0 60px;
      text-decoration: none;
      line-height: 48px;
      letter-spacing: 2.8px;
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      padding: 0 60px;
      border: 1px solid rgba(255, 255, 255, 0.5);

      &:hover {
        background-color: #fff;
        color: #282f35;
      }
    }
  }

  .widget {
    &_sm {
      aspect-ratio: 1/1;
    }

    &_col {
      grid-row-end: span 2;
      aspect-ratio: initial;
    }

    &_wide {
      grid-column-end: span 2;
      aspect-ratio: initial;
    }

    &__logo {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      background: rgba(100, 194, 158, 0.65);
      opacity: 0;

      span {
        padding: 10px 0px 0px 0px;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        color: #fff;
      }
    }
  }
}

.saddle1 {
  background: url("../img/shop/01.jpeg") center/contain no-repeat;
}

.saddles {
  background: url("../img/shop/saddles-bg.jpeg") center/contain no-repeat;
}

.back-bag {
  background: url("../img/shop/back-bag.jpeg") center/contain no-repeat;
}

.bike {
  background: url("../img/shop/bike-bg.jpeg") center/contain no-repeat;
}

.gallery {
  background: url("../img/shop/gallery-bg.jpeg") center/contain no-repeat;
}

.saddle2 {
  background: url("../img/shop/saddle2-bg.jpeg") center/contain no-repeat;
}

.saddle3 {
  background: url("../img/shop/saddle3-bg.jpeg") center/contain no-repeat;
}

.bag {
  background: url("../img/shop/bag-bg.jpeg") center/contain no-repeat;
}
