@import "~normalize.css";
@import "./header.scss";
@import "./generation.scss";
@import './brands.scss';
@import './slider.scss';
@import './shop.scss';
@import './feedback.scss';
@import './footer.scss';

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap");

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  box-sizing: border-box;
  overflow: hidden;
  min-height: 100vh;
  .page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    .main-screen {
      flex: 1 0 100%;
      position: relative;

      &__bg {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }
      .ibg {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        img {
          width: 0;
          height: 0;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    .content {
    }
  }
}
